<h2>Categories List: </h2>
<hr>
<a href="/admin/categories/add"><button class="btn btn-success btn-sm">New Category</button></a>

{{#each categories}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{name}}</h4>
      <small>Slug: {{slug}}</small> <br>
      <small>Creation Data: {{date}}</small> <br>
      <a href="/admin/categories/edit/{{_id}}"><button class="btn btn-success btn-sm mt-3">Edit Category</button></a>
      <form action="/admin/categories/delete" method="POST">
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-danger btn-sm mt-1"> Delete Category</button>
      </form>
    </div>
  </div>
{{else}}
  <h4 class="mt-4">No category registered</h4>
{{/each}}