<div class="jumbotron">
  <h1 class="display-4">Welcome to the Blog App!</h1>
  <p class="lead">This is a simple project, developed with NodeJs, Express, MongoDB and Hanblebars </p>
  <hr class="my-4">
  <p>Create an account to stay on top of news from the computer world.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/register" role="button">Create an account</a>
  </p>
</div>
<hr>
<h2>Recently Posts:</h2>

{{#each posts}}
<div class="card mt-3">
  <div class="card-body mt-2">
    <small>{{category.name}}</small> 
    <hr>
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <a href="/post/{{slug}}"><button class="btn btn-info btn-sm">Read More</button></a>
    <hr>
    <small>Publication Date: {{category.date}}</small>
  </div>
</div>
{{else}}
<h5>No posts registered</h5>
{{/each}}